// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(111,60,1,.0), rgba(255,255,255,1.0)), url('img/Night City Glow Wallpapers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  @include background-cover;
  .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    .intro-lead-in {
      font-size: 40px;
      font-style: italic;
      line-height: 40px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      @include heading-font;
    }
  }
  .lcontent{
    position: absolute;
    top: 40%;
    background-color: $primary;
    color: black;
    font-weight: bolder;
    @include add-opacity;
    h4{
      color: white;
      padding: 20px 0px 20px 0px;
      text-align: left;
    }
    .list-group-item{
      padding: 20px 0px 20px 0px;
      border-radius: 0%;
      &:hover{
        background-color: $primary-light;
        color: white;
      }
    }
    .orderNo{
      padding-left: 20px;
      padding-right: 20px;
      &:hover{
        background-color: white;
        color: gray;
      }
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
